body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(240, 93, 142); */
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

}

h1{
    margin: 10px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
    background-color: royalblue;
    color: white;
    transform: translateX(300%);
    transition: all .4s ease;
}

.box:nth-child(even){
    transform: translateX(-300%);
}
.box.show{
    transform: translateX(0);
}